.weather-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-header {
  margin-bottom: 20px;
  font-size: 2rem;
}

.weather-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.city-weather {
  margin-top: 30px;
  color: white;
}

.weather-current {
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  height: 150px;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: #93B3CD;
  position: relative;
  box-shadow: 5px 5px 5px 0 #19232c52;
}


.weather-forecast {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  animation: fade-in .5s ease .5s forwards;
}

@keyframes fade-in {
  from {
    scale: 0.7;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.weather-forecast .card {
  width: 150px;
  height: 180px;
  margin: 10px 40px;
  font-weight: bold;
  transition: scale 250ms;

}

.weather-forecast .card p {
  margin: 0;
  white-space: nowrap;
  line-height: 1.8;
  overflow: hidden;
  width: 100%;
}
  
.minmax-weather {
  font-size: smaller;
  font-weight: lighter;
}

.weather-forecast .card:hover {
  scale: 1.03;
}

img {
  width: 48px;
  height: 48px;
  margin-top: 20px;
  margin-right: 15px;
  display: inline-block;
}

/* Devices: */
/* For Large Tablets */
@media (max-width: 1024px) {
  .weather-forecast .card {
    margin: 10px 30px;
  }
}

/* For Tablets */
@media (max-width: 768px) {
  .weather-header {
      font-size: 1.8rem;
      gap: 20px;
  }

  .weather-controls {
      gap: 8px;
  }

  .weather-current {
      font-size: 1.3rem;
  }

  .weather-forecast .card {
    padding: 10px 12px;
  }

  img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
  }
}

/* For Mobile */
@media (max-width: 480px) {
  .weather-header {
      font-size: 1.5rem;
  }

  .weather-controls {
      gap: 5px;
      flex-direction: column;
  }

  .weather-current {
      font-size: 1.2rem;
  }

  .weather-forecast .card {
    padding: 10px 10px;
  }

  img {
      width: 36px;
      height: 36px;
      margin-right: 8px;
  }
}